<!--The content below is only a placeholder and can be replaced.-->
<div>
  <apx-chart
    #chartHP
    [series]="chartHPOptions.series"
    [chart]="chartHPOptions.chart"
    [xaxis]="chartHPOptions.xaxis"
    [stroke]="chartHPOptions.stroke"
    [tooltip]="chartHPOptions.tooltip"
    [dataLabels]="chartHPOptions.dataLabels"
    [legend]="chartHPOptions.legend"
    [markers]="chartHPOptions.markers"
    [grid]="chartHPOptions.grid"
    [yaxis]="chartHPOptions.yaxis"
    [title]="chartHPOptions.title"
  ></apx-chart>
</div>
