@import './src/assets/scss/variables.scss';


.construction{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.construction-card{
    max-width: 400px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 6px 14px -3px;
    background-color: $neutral-white;
    // background-image: $url-backgorund-group;
    border-radius: 10px
}

.card-header {
    margin-bottom: 10%;
  }

  .title-box {
    color: $primary-dark-bluemarine;
    font-size: $font-size-modal-title;
    font-weight: bold;
}

.card-file-content{
    display: flex;
    flex-direction: column;
}

.assign-button{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
