$primary-dark-bluemarine : #001D4F;
$primary-bluemarine : #002F6C;
$primary-bluemarine-medium : #225EAC;
$primary-bluemarine-medium-2 : #5587C8;
$primary-light-bluemarine : #B3C1D3;

$secondary-dark-cyan : #4AC1D2;
$secondary-cyan : #67D2DF;
$secondary-light-cyan : #D1F2F5;
$secondary-background-cyan : #E9F4F6;

$accent-dark-green : #00677F;
$accent-light-green : #8DB4A0;

$states-active: #0093B2;
$states-desactive-text : #979797;
$states-desactive : #D8D8D8;
$states-hover : #EFEFEF;

$semantic-error : #E64949;
$semantic-success : #6FA136;
$semantic-warning : #DE7A17;
$semantic-warning2 : #DE7A1726;
$semantic-info : #5587C8;



$neutral-black : #000000;
$neutral-drak-gray : #383838;
$neutral-gray-text : #565656;
$neutral-gray-75 : #757575;
$neutral-white : hsl(0, 0%, 100%);

$background-transparent : rgba(103,210,223, 0.9);
$font-size-nav-section-root : 16px;
$font-size-nav-section : 14px;
$font-size-modal-title : 21px;
$font-modal-content: 16px;

$url-backgorund-group2x : url('../images/group@2x.png');
$url-backgorund-group3x : url('../images/group@3x.png');
$url-backgorund-group : url('../images/group.png');
$url-backgorund-croquis : url('/qv-lagar-cetagua-frontend/src/assets/images/croquis.png');



