<div id="chart">
  <apx-chart
    #chartFlow
    [series]="chartFlowOptions.series"
    [chart]="chartFlowOptions.chart"
    [colors]="chartFlowOptions.colors"
    [yaxis]="chartFlowOptions.yaxis"
    [stroke]="chartFlowOptions.stroke"
    [legend]="chartFlowOptions.legend"
    [dataLabels]="chartCommonOptions.dataLabels"
    [markers]="chartFlowOptions.markers"
    [grid]="chartCommonOptions.grid"
    [xaxis]="chartCommonOptions.xaxis"
    [tooltip]="chartCommonOptions.tooltip"
    [annotations]="chartCommonOptions.annotations">
  </apx-chart>
  <apx-chart
    #chartPressure
    [series]="chartPressureOptions.series"
    [chart]="chartPressureOptions.chart"
    [colors]="chartPressureOptions.colors"
    [yaxis]="chartPressureOptions.yaxis"
    [stroke]="chartPressureOptions.stroke"
    [dataLabels]="chartCommonOptions.dataLabels"
    [markers]="chartCommonOptions.markers"
    [grid]="chartCommonOptions.grid"
    [xaxis]="chartCommonOptions.xaxis"
    [tooltip]="chartCommonOptions.tooltip"
    [annotations]="chartCommonOptions.annotations">
  </apx-chart>

  <apx-chart
    #chartMinFlow
    [series]="chartMinFlowOptions.series"
    [chart]="chartMinFlowOptions.chart"
    [colors]="chartMinFlowOptions.colors"
    [yaxis]="chartMinFlowOptions.yaxis"
    [dataLabels]="chartCommonOptions.dataLabels"
    [markers]="chartCommonOptions.markers"
    [stroke]="chartMinFlowOptions.stroke"
    [grid]="chartCommonOptions.grid"
    [xaxis]="chartCommonOptions.xaxis"
    [tooltip]="chartCommonOptions.tooltip"
    [annotations]="chartCommonOptions.annotations">
  </apx-chart>

  <apx-chart
    #chartDailyVolume
    [series]="chartDailyVolumeOptions.series"
    [chart]="chartDailyVolumeOptions.chart"
    [colors]="chartDailyVolumeOptions.colors"
    [yaxis]="chartDailyVolumeOptions.yaxis"
    [stroke]="chartDailyVolumeOptions.stroke"
    [dataLabels]="chartCommonOptions.dataLabels"
    [markers]="chartCommonOptions.markers"
    [grid]="chartCommonOptions.grid"
    [xaxis]="chartCommonOptions.xaxis"
    [tooltip]="chartCommonOptions.tooltip"
    [annotations]="chartCommonOptions.annotations">
  </apx-chart>

  <apx-chart
    #chartMeteo
    [series]="chartMeteoOptions.series"
    [chart]="chartMeteoOptions.chart"
    [colors]="chartMeteoOptions.colors"
    [yaxis]="chartMeteoOptions.yaxis"
    [stroke]="chartMeteoOptions.stroke"
    [dataLabels]="chartCommonOptions.dataLabels"
    [markers]="chartCommonOptions.markers"
    [grid]="chartCommonOptions.grid"
    [xaxis]="chartCommonOptions.xaxis"
    [tooltip]="chartCommonOptions.tooltip"
    [annotations]="chartCommonOptions.annotations">
  </apx-chart>

  <apx-chart
    #chartMinFlowMultmeanFlow
    [series]="chartMinFlowMultmeanFlowOptions.series"
    [chart]="chartMinFlowMultmeanFlowOptions.chart"
    [colors]="chartMinFlowMultmeanFlowOptions.colors"
    [yaxis]="chartMinFlowMultmeanFlowOptions.yaxis"
    [stroke]="chartMinFlowMultmeanFlowOptions.stroke"
    [dataLabels]="chartCommonOptions.dataLabels"
    [markers]="chartCommonOptions.markers"
    [grid]="chartCommonOptions.grid"
    [xaxis]="chartCommonOptions.xaxis"
    [tooltip]="chartCommonOptions.tooltip"
    [annotations]="chartCommonOptions.annotations">
  </apx-chart>

  <apx-chart
    #chartMinFlowDivmeanFlow
    [series]="chartMinFlowDivmeanFlowOptions.series"
    [chart]="chartMinFlowDivmeanFlowOptions.chart"
    [colors]="chartMinFlowDivmeanFlowOptions.colors"
    [yaxis]="chartMinFlowDivmeanFlowOptions.yaxis"
    [stroke]="chartMinFlowDivmeanFlowOptions.stroke"
    [dataLabels]="chartCommonOptions.dataLabels"
    [markers]="chartCommonOptions.markers"
    [grid]="chartCommonOptions.grid"
    [xaxis]="chartMinFlowDivmeanFlowOptions.xaxis"
    [tooltip]="chartCommonOptions.tooltip"
    [annotations]="chartCommonOptions.annotations">
  </apx-chart>
</div>
